@import "../utils/index";

.loader{
  opacity: 0;
  z-index: -2;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $blue-grey;
  position: absolute;
  height: 100vh;
  width: 100vw;

  animation-name: loader-fade-out;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 7.8vw 1fr;
}

.main-main-container {
  height: 100vh;
  display: inline;
  position: relative;
}

.main-container {
  height: 100vh;
  display: inline;
}

.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.background {
  height: 100vh;
  width: 100%;
  z-index: -1;
  position: absolute;
  display: inline-block;
  background-size: cover;
  background-position: left bottom;

  animation-name: bg-bottom-up;
  animation-duration: 1s;
  animation-delay: 2s;
}

.bg-pineapple {
  background-image: url(../images/bg-pineapple.png);
}

.bg-cauliflower {
  background-image: url(../images/bg-cauliflower.png);
}

.products-list {
  display: flex;
  justify-content: space-between;
  margin: 6.2vh 3.38vw 0 3vw;
  height: 15.7vh;
}

.products-list-column {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin: 0 3.38vw 5.3vh 3vw;
  height: 10vh;
}

.network-icon {
  width: 21px;
}

.bullet {
  display: inline-block;
  height: 0;
  width: 47px;
  border: solid 1px $secondary-yellow-variant;
  background-color: $secondary-yellow-variant;
  margin-right: 15px;
  margin-bottom: 5px;
}

.menu-title {
  font-size: 24px;
}

.pages {
  margin: 0;
  font-size: 2.7vh;
}

.actual-page {
  font-size: 9vh;
}

.footer-icon {
  height: 10vh;
}

.next-page {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 116px;
}

.next-page:link {
  text-decoration: none;
}

.next-page div {
  height: 100%;
}

.next-page-text {
  transform: rotate(-90deg);
}

.next-page-text-part-2 {
  font-size: 16px;
}

.footer-arrow {
  width: 116px;
  text-align: center;
  background-color: $secondary-yellow;
  display: flex;
  justify-content: center;
  align-content: center;
}

.footer-arrow span {
  font-stretch: 50%;
  font-size: 20px;
  font-weight: bolder;
  margin: auto;
  color: var(--white);
}

.title-container {
  position: absolute;
  top: 34.9vh;
  left: 29.6vw;
}

.title {
  font-family: $title-font;
  line-height: 0.8;
  margin: 0;
  font-size: 14vh;
  letter-spacing: 0.05em;
}

.transparency-65 {
  opacity: 65%;
}

.transparency-100 {
  opacity: 100%;
}

.description {
  margin-top: 3vh;
  padding: 3.7vh 2.3vw;
  background-color: #ffffff50;
  width: 52vw;
}

.description p {
  margin: 0;
}

.discover-button {
  background-color: $secondary-yellow-variant;
  margin-top: 3.1vh;
  height: 3.5vh;
  width: 10.8vw;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.yellow-to-green {
  background: linear-gradient(to left, $secondary-yellow-variant 50%, $secondary-green-variant 50%) right;
  background-size: 200%;
  transition: 0s;

  &:hover {
    background-position: left;
    transition: 0.6s ease-out;
  }
}

