@import "../utils/index";

.navbar{
  background-color: $white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  max-width: 150px;
}

.logo{
  width: 69px;
}

.separator{
  transform: rotate(90deg);
  height: 0;
  width: 47px;
  border: solid 1px $secondary-yellow-variant;
  background-color: $secondary-yellow-variant;
}

.navbar-button{  /* https://codepen.io/mdd/pen/YpVpJj */
  position: relative;
  background: var(--white);
  border: solid 3px $secondary-green;
  width: 4.2vh;
  height: 4.2vh;
  color: $secondary-green;
  border-radius: 50%;
  font-family: "Times New Roman", Times, serif;
  transition: width 0.3s, height 0.3s;
  transition-timing-function: linear;

  &:after {
    content: '\2022 \2022 \2022';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -57%);
    font-size: 17px;
    letter-spacing: 1px;
    margin-top: 2px;
    transition: font-size 0.3s;
  }

  &:hover{
    width: 5vh;
    height: 5vh;

    &:after{
      font-size: 20px;
    }
  }
}


.basket-icon{
  width: 20px;
}

.search-icon{
  width: 16px;
}

.brand{
  transform: rotate(-90deg);
  font-size: 20px;
  margin-bottom: 2rem;
  letter-spacing: 0;
}
