@import "../utils/index";

.nav-menu-container{
  z-index: -2;
  opacity: 0;
  width: 100%;
  position: absolute;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, $white 50%);
  background-size: 200%;
}

.nav-menu > div{
  margin-left: 3vw;
}

.nav-menu > div:first-child{
  margin-top: 6.2vh;
}

.nav-menu > div:last-child{
  margin-bottom: 5.3vh;
}

.product-grid{
  display: grid;
  grid-template-columns: 34% 1fr;
}

.block{
  height: 15.3vh;
}

.tomatoes{
  position: absolute;
  top: 17.3vh;
  height: 70.7vh;
  right: 0;
}
