@import "../utils/index";

.product{
  .small-bullet{
    width: 25px;
    margin-right: 15px;
    margin-bottom: 3px;
  }

  &:hover{
    .small-bullet{
      border: solid 1px $secondary-green;
      background-color: $secondary-green;
    }
  }

}

.products-list-column{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
