@import "colors";

//------------------------------OTHER

.animation-at-start {
  animation-delay: 2s;
}

@keyframes menu-background-left-right {
  from {
    z-index: 10;
    opacity: 1;
    background-position: right;
  }
  to {
    z-index: 10;
    opacity: 1;
    background-position: left;
  }
}
.animation-menu-background-left-right{
  animation-name: menu-background-left-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes tomatoes-apparition {
  0% {
    transform: translate(30vw, 0);
  }
  50% {
    transform: translate(30vw, 0);
  }
  100% {
    transform: translate(0, 0);
  }
}
.animation-tomatoes-apparition{
  animation-name: tomatoes-apparition;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

//------------------------------FADING


@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animation-fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.animation-fade-out {
  animation-name: fade-out;
  animation-duration: 1s;
}

@keyframes loader-fade-out {
  0% {
    opacity: 1;
    z-index: 200;
    display: block;
  }
  66% {
    opacity: 1;
  }
  100% {
    z-index: -2;
    opacity: 0;
    display: none
  }
}

//------------------------------BOTTOM UP

@keyframes bg-bottom-up {
  from {
    transform: translate(0, 100vh);
  }
  to {
    transform: translate(0, 0);
  }
}

@keyframes bottom-up-10 {
  from {
    transform: translate(0, 10vh);
  }
  to {
    transform: translate(0, 0);
  }
}

.animation-bottom-up-10 {
  animation-name: bottom-up-10;
  animation-duration: 1s;
}

//------------------------------LEFT RIGHT

@keyframes menu-left-right {
  from {
    transform: translate(-100vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.animation-menu-left-right {
  animation-name: menu-left-right;
  animation-duration: 1s;
}

@keyframes left-right-30 {
  from {
    transform: translate(-30vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.animation-left-right-30 {
  animation-name: left-right-30;
  animation-duration: 1s;
}

@keyframes left-right-60 {
  from {
    transform: translate(-60vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.animation-left-right-60 {
  animation-name: left-right-60;
  animation-duration: 1s;
}

@keyframes left-right-90 {
  from {
    transform: translate(-90vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}
.animation-left-right-90 {
  animation-name: left-right-90;
  animation-duration: 1s;
}

//------------------------------RIGHT LEFT

@keyframes right-left-5 {
  from {
    transform: translate(5vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.animation-right-left-5 {
  animation-name: right-left-5;
  animation-duration: 1s;
}

@keyframes right-left-20 {
  from {
    transform: translate(20vw, 0);
  }
  to {
    transform: translate(0, 0);
  }
}

.animation-right-left-20 {
  animation-name: right-left-20;
  animation-duration: 1s;
}
