$white: #fff;
$primary-yellow: #FFCC00;
$secondary-yellow: #f1d145;
$secondary-yellow-variant: #f3d145;
$primary-green: #39553a;
$secondary-green: #375238;
$secondary-green-variant: #3b573b;
$primary-grey: #F7F8FA;
$blue-grey: #F7FCFC;
