@font-face {
  font-family: "Acumin";
  src:url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
}

@font-face {
  font-family: "AcuminPro";
  src: url("../fonts/acumin_pro_black.otf");
}

$body-font: 'Acumin', 'Helvetica', sans-serif;
$title-font: 'AcuminPro', 'Helvetica', sans-serif;
