@import 'utils/index';

:root {
  --white: #fff;
  --primary-yellow: #FFCC00;
  --secondary-yellow: #f1d145;
  --secondary-yellow-variant: #f3d145;
  --primary-green: #39553a;
  --secondary-green: #375238;
  --secondary-green-variant: #3b573b;
  --primary-grey: #F7F8FA;
}

@font-face {
  font-family: "Acumin";
  /*src: url("../acumin_pro_black.otf");*/
  src:url("https://use.typekit.net/af/6d4bb2/00000000000000003b9acafc/27/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3")
}

@font-face {
  font-family: "AcuminPro";
  src: url("fonts/acumin_pro_black.otf");
}

html, body{
  overflow: hidden;
  color: $secondary-green;
  height: 100vh;
  padding: 0;
  margin: 0;
  font-family: $body-font;
  font-size: 12px;
  letter-spacing: 0.075em;
}

#root{
  height: 100vh;
}

.primary-yellow{
  color: $primary-yellow;
}

.primary-green{
  color: $primary-green;
}

.secondary-yellow{
  color: $secondary-yellow;
}

.secondary-green{
  color: $secondary-green;
}

.has-margin-bottom{
  margin-bottom: 2rem;
}

.has-margin-top{
  margin-top: 2rem;
}

.has-margin-left{
  margin-left: 2rem;
}

.has-margin-right{
  margin-right: 2rem;
}
